.App{
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  display: flex;
}
img{
  display: block;
  object-fit: cover;
  max-width: 50%;
  /* align-self: center;
  justify-self: center; */
}
.fileUpload{
  max-width: 50%;
}
/* div{
  box-sizing: border-box;
  border: 1px solid black;
  height: 5rem;
} */
